@import "tailwindcss";

:root {
  --background: #151818;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-caveat: var(--font-caveat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151818;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

.font-organic {
  font-family: var(--font-caveat), cursive;
}